<h2>Login</h2>

<form method="POST" action="/login">

    {{#if errorMessage}}
    <p class="warning">
        {{errorMessage}}
    </p>
    {{/if}}

    <label> Email
        <input type="email" name="email" placeholder="rockstar@ironhack.com" required />
    </label>

    <label> Password
        <input type="password" name="password" placeholder="********" required />
    </label>

    <button type="submit">login</button>


    <div class="info">
        <p>If you don't have an account, click <a href="/signup">here</a> to create one.</p>
    </div>

</form>